* {
  font-family: Arial, Helvetica, sans-serif;
  /* Las variables en css se deben declarar en el contenedor principal donde se vayan a utilizar. Por ejemplo: declarandolo de esta forma podemos usar los colores en todo el documento. */
  --primario: lightsalmon;
  --secundadio: lightgreen;
  --terciario: aquamarine;
}

/* Yendo a las herramientas de desarrollador, en la seccion de computed podemos ver al final del todo la fuente que se esta mostrando */

img {
  width: 350px;
  border: 10px ridge brown;
  border-radius: 50%;
}

/* border-style: none, solid, dotted, dashed, double, inset, outset, ridge, groove. Se pueden combinar mas de un estilo de borde.*/

main {
  /* se pueden colocar valores de respaldo para las variables, para las ocasiones en las que las variables no se consigan o tengan algun error */
  background-color: var(--primario, red);
}

div {
  width: 75%;
  margin: 0 auto;
  background-color: var(--secundadio);
  text-align: center;
}

.nav {
  background-color: var(--terciario);
}

ul {
  text-align: left;
}

a[href] {
  text-decoration: none;
}

/* Selector de atributo */